html {
	margin: 0px;
	padding: 0px;
	background-color: #e3e3e3;
}
body {
	margin: 0 auto;
	padding: 0px;
	font-family: sans-serif;
	min-width: 650px;
	max-width: 1920px;
}
#pageTitle {
	margin: 0;
	padding: 0;
}
#pageSubtitle {
	margin: 0;
	padding: 0;
}
.pageWrapper {
	margin: 0 auto;
	padding: 20px;
}
.qBlockWrapper {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
	.qBlockCenterWrapper {
		width: 90%;
		box-sizing: border-box;
		margin: 4px;
	}
	.qBlockCenter {
		width: 100%;
		float: left;
		background-color: #e0e0e0;
		border-radius: 3px;
		box-shadow: 2px 2px 5px 0px #B5B5B5;
	}
	.qBlockHeader {
		float: left;
		box-sizing: border-box;
		width: 100%;
		min-height: 40px;
		display: flex;
		align-items: stretch;
	}
		.qBlockNumber {
			float: left;
			width: 5%;
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 40px;
		}
			.qBlockNumber span {
				font-weight: 700;
			}
		.qBlockTitle {
			float: left;
			width: 80%;
			display: flex;
			align-items: center;
		}
			.qBlockTitle input {
				height: 26px;
				width: 99%;
				border: none;
    			border-bottom: 2px solid grey;
    			background-color: #e0e0e0;
    			outline: none;
    			font-size: 115%;
			}
		.qBlockType {
			float: left;
			width: 15%;
			display: flex;
			align-items: center;
			min-width: 130px;
			box-sizing: border-box;
			padding-left: 2px;
		}
			.qBlockType select {
				height: 30px;
				width: 95%;
				border: none;
    			border: 1px solid grey;
    			background-color: #e0e0e0;
			}
	.btnDeleteQuestion {
		margin: 4px;
		background-color: rgb(255, 119, 119);
		border-radius: 3px;
		box-sizing: border-box;
		padding: 8px;
		float: left;
		width: 5%;
		min-width: 50px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 150%;
		box-shadow: 2px 2px 5px 0px #B5B5B5;
	}
	.btnAddQuestion {
		margin: 4px;
		background-color: rgb(94, 187, 69);
		border-radius: 3px;
		box-sizing: border-box;
		padding: 8px;a
		float: left;
		width: 5%;
		min-width: 50px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 150%;
		align-self: flex-end;
		box-shadow: 2px 2px 5px 0px #B5B5B5;
	}
	.qBlockContentWrapper {
		float: left;
		width: 100%;
	}
		.qBlockContentWrapper hr {
			margin: 0px;
			padding: 0px;
		}
		.qBlockContent {
			float: left;
			width: 100%;
			box-sizing: border-box;
			padding: 8px;
		}
#possibleAnswers {

}
	.addMultipleChoiceOptionBtn {
		float: left;
		padding: 6px;
		padding-left: 6px;
		background-color: rgb(94, 187, 69);
		border-radius: 2px;
		margin-top: 10px;
	}
	.addMultipleChoiceOptionBtn span {
		font-family: sans-serif;
		margin-left: 6px;
	}